<div id="wrapper">
  <!-- begin TOP NAVIGATION -->
  <app-header></app-header>
  <!-- end TOP NAVIGATION -->

  <!-- begin SIDE NAVIGATION -->
  <app-sidemenu [page]="_apiService.page"></app-sidemenu>
  <!-- end SIDE NAVIGATION -->

  <!-- begin MAIN PAGE CONTENT -->
  <div id="page-wrapper">

    <div class="spl-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-title">
            <!--<h1>
              Admin <small>Dashboard</small>
            </h1>-->
            <ol class="breadcrumb">
              <li><i class="fa fa-dashboard"></i> <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <!--<li class="active">Blank Page</li>-->
            </ol>
          </div>
        </div>
        <!-- /.col-lg-12 -->
      </div>

      <!-- begin PAGE TITLE ROW -->
      
      <!-- /.row -->
      <!-- end PAGE TITLE ROW -->
      <!-- <div class="">
        <div class="panel panel-primary">
          <div class="panel-heading">Add Daily Work
          </div>
          <div class="panel-body">
            <div class="wrapper">

              <div class="container-fluid">

              </div>
              <form [formGroup]="taskForm" (ngSubmit)="save()" class="form-horizontal">


                <div class="form-horizontal">
                  <div class="col-md-12">
                    <div class="col-md-2">
                      <label>Task</label>
                    </div>
                    <div class="col-md-2">
                      <label>Assigned To</label>
                    </div>

                  </div>
                </div>



                <div class="form-horizontal">
                  <div class="col-md-12">
                    <div class="col-md-2">
                      <select  class="form-control" formControlName="name" name="name">
                           
                            <option *ngFor="let user of users" value="{{user.username}}">{{user.username}}</option>
                                                                                
                               </select>

                    </div>
                    <div class="col-md-6">
                      <input formControlName="quantity" name="quantity" type="text" placeholder="Enter quantity in kgs" class="form-control">

                    </div>
                    <div class="col-md-2">
                      <input formControlName="price" name="price" type="text" placeholder="Enter price" class="form-control">

                    </div>

                  </div>

                </div>



                <div class="row">
                
                  <button (click)="addactiveList()" type="button" style="margin-right:90px" class="btn default pull-right">Add More</button>
                  <div class="row" *ngIf="addmore_length>1">
                    <button (click)="removeList(addmore_length)" type="button" style="margin-right:10px" class="btn default pull-right">Remove</button>
                  </div>
                </div>


                <div class="form-actions">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="row">
                        <div class="col-md-offset-7 col-md-5">
                          <button type="submit" class="btn btn-info"> Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </form>

            </div>
          </div>
        </div>
      </div> -->
    <div class="portlet portlet-default">
  <div class="portlet-heading">
    <div class="portlet-title">
      <h4> Add Item </h4>
    </div>
    <!-- <div class="portlet-widgets">
      <a (click)="hideAddForm()" style="cursor: pointer !important"><i class="fa fa-times"></i></a>
    </div> -->
    <div class="clearfix"></div>
  </div>
  <div class="portlet-body">
    <form (ngSubmit)="save()" method="post" [formGroup]="taskForm" novalidate>
      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-md-3">
            <label>Name</label>
            <select  class="form-control" formControlName="name" name="name">
            <option *ngFor="let user of users" value="{{user.username}}">{{user.username}}</option>
             </select>
          </div>
          <div class="col-md-3">
            <label for="email">Quantity in kgs</label>
            <input type="text" class="form-control" name="quantity" value="quantity" formControlName="quantity" />
          </div>
          <div class="col-md-2">
            <label for="email">Price</label>
            <input type="text" name="price" class="form-control" value="price" formControlName="price" />
                  </div>
                  <div class="row">
                  <button (click)="addactiveList()" type="button" style="margin-right:90px" class="btn default pull-right">Add More</button>
                  <div class="row" *ngIf="addmore_length>1">
                    <button (click)="removeList(addmore_length)" type="button" style="margin-right:10px" class="btn default pull-right">Remove</button>
                  </div>
                </div>
           

          <div class="col-md-2">
            <button type="submit" [disabled]="!taskForm.valid" class="btn btn-default btn-square col-md-6" style="margin-top: 25px;">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


      <!-- end DASHBOARD CIRCLE TILES -->
    </div>
    <!-- /.page-content -->
  </div>
  <!-- /#page-wrapper -->
  <!-- end MAIN PAGE CONTENT -->
</div>