<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div id="wrapper">
  <!-- begin TOP NAVIGATION -->
  <app-header></app-header>
  <!-- end TOP NAVIGATION -->

  <!-- begin SIDE NAVIGATION -->
  <app-sidemenu [page]="_apiService.page"></app-sidemenu>
  <!-- end SIDE NAVIGATION -->

  <!-- begin MAIN PAGE CONTENT -->
  <div id="page-wrapper">

    <div class="spl-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-title">
            <!--<h1>
              Admin <small>Dashboard</small>
            </h1>-->
            <ol class="breadcrumb">
              <li><i class="fa fa-dashboard"></i> <a [routerLink]="['/dashboard']">Dashboard/MaterialManagement</a>
              </li>
              <!--<li class="active">Blank Page</li>-->
            </ol>
          </div>
        </div>
        <!-- /.col-lg-12 -->
      </div>

      <!-- begin PAGE TITLE ROW -->

      <!-- /.row -->
      <!-- end PAGE TITLE ROW -->

      <div class="portlet portlet-default">
        <div class="portlet-heading">
          <div class="portlet-title">
            <h4> Material Management </h4>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="portlet-body">
          <ul id="myTab" class="nav nav-tabs">
            <!-- <li class="active"><a href="#balance" data-toggle="tab">Balance</a>
            </li> -->
            <!-- <li class=""><a href="#out" data-toggle="tab">Material Out</a>
            </li> -->
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="balance">
              <div class="portlet portlet-default">
                <div class="portlet-heading">
                  <div class="portlet-title">
                    <h4>Stock Balance</h4>
                  </div>
                  <div class="portlet-widgets">
                    <a (click)="purchasepop()" style="cursor: pointer !important"><i class="fa fa-plus-square"></i> <span class="divider"></span>Purchase list</a>
                  </div>

                  <div class="clearfix"></div>
                </div>
                <div *ngIf="stock_balance" class="portlet-body">
                  <div class="form-horizontal">
                    <div class="form-group">
                      <div class="col-md-3">
                        <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 tabel_overflow">

                      <table class="table table-bordered table-green" [mfData]="stock_balance | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
                        [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                          <tr>
                            <th>
                              <mfDefaultSorter by="">S.NO</mfDefaultSorter>
                            </th>

                            <th>
                              <mfDefaultSorter by="item">Item Name</mfDefaultSorter>
                            </th>


                            <th>
                              <mfDefaultSorter by="total_balance">Balance</mfDefaultSorter>
                            </th>
                            <th>Checkbox</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let items of mf.data; let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{items.item}}</td>
                            <td  *ngIf="items.total_balance >= 5"><span class="badge green" style="margin: 0px 40px 0px 2px;">{{items.total_balance}}</span></td>
                            <td  *ngIf="items.total_balance <= 6"><span class="badge red" style="margin: 0px 40px 0px 2px;">{{items.total_balance}}</span></td>
                            <!-- <td>{{items.total_balance}}</td> -->
                            <td>
                              <input type="checkbox" (ngModelChange)="clickedItem(items, $event)" checked="false" [ngModel]="!items">
                            </td>
                          </tr>
                        </tbody>

                        <tfoot>
                          <tr>
                            <td colspan="12">
                              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
      <!-- end DASHBOARD CIRCLE TILES -->
    </div>
    <!-- /.page-content -->
  </div>
  <!-- /#page-wrapper -->
  <!-- end MAIN PAGE CONTENT -->
</div>

<popup #popup1>
  <div class="col-md-12">
      <form (ngSubmit)="purchasersubmit()" method="post" [formGroup]="purchase_form" >
      <table style="width:100%">
          <tr>
            <th>Item</th>
            <th>Quantity</th>
          </tr>
          <tbody>
              <tr *ngFor="let i of selectedItems; let i=index;">
                  <td>  <input type="text" class="form-control" name="item" value="{{i.item}}" formControlName="item" /></td>
                  <td> <div class="col-sm-4">
                      <input type="text" class="form-control" name="quantity" value="" formControlName="quantity" />
                    </div>  </td>
              </tr>
          </tbody>
        </table>
        <button (click)="ok()" class="btn btn-primary pull-right">Ok</button>
        <button (click)="purchasersubmit(i)" class="btn btn-primary pull-right">Submit</button>
      </form>
   
        
  </div>
</popup>
<!-- <popup #popup1>
  <div>
    <div>
      <div>
        <div>
          <div>
            <h4> </h4>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="portlet-body">
          <form (ngSubmit)="purchasersubmit()" method="post" [formGroup]="purchase_form" >
            <div class="form-horizontal">
             <div *ngFor="let items of selectedItems; let i=index;">
              <div class="form-group">
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="item1" value="{{items.item}}" formControlName="item" />
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control" name="item1" value="" formControlName="quantity" />
                </div>
              </div>
             </div>
             <button  class="btn btn-primary pull-right">Submit</button>
              <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                 
                 <a data-dismiss="modal" class="pull-right" (click)="ok()">x</a>
                 
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      
    </div>
  </div>
</popup> -->
